
<script type="text/javascript">
function switch_nav(fragment) {
    var elements = document.querySelectorAll("div.archive");
    for (i = 0; i < elements.length; ++i) {
        elements[i].classList.add("hide");
    }

    elements = document.querySelectorAll("div.archive." + fragment);
    for (i = 0; i < elements.length; ++i) {
        elements[i].classList.remove("hide");
    }
    elements = document.querySelectorAll("nav.pills li");
    for (i = 0; i < elements.length; ++i) {
        elements[i].classList.remove("active");
    }
    elements = document.querySelectorAll("nav.pills li." + fragment);
    for (i = 0; i < elements.length; ++i) {
        elements[i].classList.add("active");
    }
};

document.addEventListener('DOMContentLoaded', function() {
  var fragment = window.location.hash.slice(1);
  if (fragment
      && document.querySelectorAll("div.archive." + fragment).length == 1) {
    switch_nav(fragment);
  };

  var elements = document.querySelectorAll("nav.pills a");
  for (i = 0; i < elements.length; ++i) {
    elements[i].onclick = function(){
      var fragment = this.href.split("#")[1];
      switch_nav(fragment);
      window.location.replace("#" + fragment);
      return false;
    };
  };
});
</script>   
    